<main class="body--main">
    <div class="interviews--container">
        <% @interviews.each do |interview| %>
        <div class="interview">
            <h2><%= interview.title %></h2>
            <p><%= interview.snippet.html_safe %></p>
            <a href="<%= interview.link %>" target="_blank">
                <% if interview.listen == true %>
                    <p><span>LISTEN HERE</span></p>
                <% else %>
                    <p><span>READ MORE</span></p>
                <% end %>
            </a>
            <% if current_user %>
            <%= link_to 'edit this intervew', edit_interview_path(interview) %>
            <% end %>
        </div>
        <hr>
        <% end %>
    </div>
</main>

<div class="diagonal">
</div>