@font-face {
	font-family: 'Oswald Bold';
	src: url('/assets/oswald-bold-webfont.eot');
	src: url('/assets/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/oswald-bold-webfont.woff') format('woff'),
	url('/assets/oswald-bold-webfont.ttf') format('truetype'),
	url('/assets/oswald-bold-webfont.svg#oswald-bold') format('svg');
}

@font-face {
	font-family: 'Oswald Regular';
	src: url('/assets/oswald-regular-webfont.eot');
	src: url('/assets/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/oswald-regular-webfont.woff') format('woff'),
	url('/assets/oswald-regular-webfont.ttf') format('truetype'),
	url('/assets/oswald-regular-webfont.svg#oswald-regular') format('svg');
}

@font-face {
	font-family: 'Oswald Light';
	src: url('/assets/oswald-light-webfont.eot');
	src: url('/assets/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/assets/oswald-light-webfont.woff') format('woff'),
	url('/assets/oswald-light-webfont.ttf') format('truetype'),
	url('/assets/oswald-light-webfont.svg#oswald-light') format('svg');
}

//@font-face {
//  font-family: 'Quattrocento Sans';
//  src: url('../fonts/quattrocentosans-regular-webfont.eot');
//  src: url('../fonts/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/quattrocentosans-regular-webfont.woff') format('woff'),
//  url('../fonts/quattrocentosans-regular-webfont.ttf') format('truetype'),
//  url('../fonts/quattrocentosans-regular-webfont.svg#quattrocentosans-regular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Quattrocento Sans';
//  src: url('../fonts/quattrocentosans-italic-webfont.eot');
//  src: url('../fonts/quattrocentosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/quattrocentosans-italic-webfont.woff') format('woff'),
//  url('../fonts/quattrocentosans-italic-webfont.ttf') format('truetype'),
//  url('../fonts/quattrocentosans-italic-webfont.svg#quattrocentosans-italic') format('svg');
//  font-weight: normal;
//  font-style: italic, oblique;
//}
//
//@font-face {
//  font-family: 'Quattrocento Sans';
//  src: url('../fonts/quattrocentosans-bold-webfont.eot');
//  src: url('../fonts/quattrocentosans-webfont-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/quattrocentosans-webfont-webfont.woff') format('woff'),
//  url('../fonts/quattrocentosans-webfont-webfont.ttf') format('truetype'),
//  url('../fonts/quattrocentosans-webfont-webfont.svg#quattrocentosans-webfont') format('svg');
//  font-weight: bold;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Quattrocento Sans';
//  src: url('../fonts/quattrocentosans-bolditalic-webfont.eot');
//  src: url('../fonts/quattrocentosans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/quattrocentosans-bolditalic-webfont.woff') format('woff'),
//  url('../fonts/quattrocentosans-bolditalic-webfont.ttf') format('truetype'),
//  url('../fonts/quattrocentosans-bolditalic-webfont.svg#quattrocentosans-bolditalic') format('svg');
//  font-weight: bold;
//  font-style: italic, oblique;
//}