@media only screen and (max-width: $smallTabletBreakpoint) {
  .events-column {
    width: 100%;
  }
  
  .events-column .column--text {
    padding: 0 0;
  }
  
  .column--text {
    padding: 7.5%;
    padding-top: 0;
  }
  
  #x--icon {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 7%;
    cursor: pointer;
  }
  
  .contact {
    padding: 7%;
    background: $siteDarkBlue;
    position: fixed;
    display: none;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    bottom: 10%;
    font-size: calc(22rem/16);
    line-height: 1em;
    border-top: .5em solid white;
    border-bottom: .5em solid white;
  }
  
  .book {
    margin-bottom: 10%;
  }
  
  .event h2 {
    font-size: calc(36rem/16);
    padding-bottom: 4%;
  }
  
  .event {
    font-size: calc(28rem/16);
    margin: 4% 0;
  }
  
  .column--header {
    padding: 3.5%;
    text-align: center;
  }
  
  .column--header h2 {
    margin-bottom: 0;
    font-size: calc(38rem/16);
  }
  
  .column--text h2 {
    font-size: calc(46rem/16);
    text-align: center;
  }
  
  .column p {
    font-size: calc(28rem/16);
  }
  
  .column p span {
    font-size: calc(22rem/16);
  }
  
  .column--text a, .column--text--wide a {
    font-size: calc(30rem/16);
  }
  
  .diagonal {
    display: none;
  }
  
  .body--main, .body--main--show {
    padding-bottom: 2em;
  }
  
  .book {
    padding: 0 10%;
  }
  
  .events--header {
    padding: 3.5%;
    text-align: center;
  }
  
  .events-column-third {
    width: 100%;
  }
  
  .bio--text img {
    width: 100%;
    margin-bottom: 10%;
  }
  
  .bio--text p {
    font-size: calc(26rem/16);
  }
  
  .interview {
    font-size: calc(28rem/16);
  }
  
  .interview h2 {
    font-size: calc(38rem/16);
    line-height: 1.5em;
  }
  
  .interview p span {
    font-size: calc(38rem/16);
  }
  
  .column--text--wide {
    padding: 0 7.5%;
  }

  .bio--text {
    padding: 7.5%;
  }
  
  .books--nav, .books--diagonal {
    display: none;
  }
}

@media only screen and (min-width: $smallTabletBreakpoint) {
  .bio--text img {
    float: right;
    width: 55%;
    padding: 0 0 3% 6%;
  }

  .bio--text {
    padding: 7.5% 10.5% 7.5% 5.5%;
  }
  
  .events--header {
    padding: 1.9% 3.5% 1.9% 5.5%;
    width: 50%;
  }
  
  .upcoming-events {
    padding-top: 7.5%;
  }
  
  .book {
    padding: 0 20.5% 0 10.5%;
  }
  
  .column--text--wide {
    width: 180%;
  }
  
  .column--header {
    padding: 3.5% 3.5% 3.5% 10.5%;
  }
  
  .column {
    padding-top: 7.5%;
  }

  .column--text {
    padding: 0 10.5%;
  }
  
  .column--header h2, .column--text h2 {
    margin-bottom: 2%;
    font-size: calc(32rem/16);
  }
  
  .column p {
    font-size: calc(18rem/16);
  }
  
  .contact {
    padding: 5%;
    display: none;
    background: $siteDarkBlue;
    position: fixed;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 55%;
    top: 30%;
  }
  
  .column p span {
    font-size: calc(15rem/16);
  }
  
  .body--main, .body--main--show {
    padding-bottom: 7em;
  }
  
  .events-column {
    width: 50%;
  }
  
  .past-events-container {
    width: 90%;
  }
  
  .events-column-third {
    width: calc(100%/3 - 2.5em);
  }
  
  .event {
    margin: 10% 0;
  }

  #x--icon {
    position: absolute;
    top: 10%;
    right: 4%;
    width: 4%;
    cursor: pointer;
  }
  
  .interview {
    width: 65%;
  }
  
  .column--text--wide {
    padding: 0 10.5%;
  }
  
  .interview h2 {
    font-size: calc(26rem/16);
  }

  .column .books--top {
    padding-top: 27%;
  }
}

.body--main, .body--main--show {
  background: $siteDarkBlue;
  margin-top: -3%;
  padding-top: 2em;
  @include clearfix();
  position: relative;
}

.column {
  float: left;
}

.column--text--wide {
  float: left;
}

.book--summary {
  margin-top: 15%;
}

.book a img {
  width: 100%;
}

.events--header {
  background: #2b3b3d;
}

.events--header h2 {
  font-family: 'Oswald Light';
  color: #dcffff;
  margin: 0;
  font-size: calc(32rem/16);
}

.upcoming-events {
  @include clearfix();
}

.events-column {
  float: left;
}

.past-events-container {
  max-width: 900px;
  margin: 0 auto;
	@include flexbox();
	@include flexbox-justify-content(space-between);
	@include flexbox-align-items(stretch);
	@include flexbox-flex-wrap(wrap);
}

.past-events-container .event {
  color: #bbbbbb;
}

.event {
  background: $siteDarkestBlue;
  padding: 5%;
}

hr {
  display: block;
  margin: 0.5em 0;
  padding: 0;
  height: 1px;
  border: 0;
}

.summary {
  background: #dcffff;
  color: $siteDarkBlue;
  padding: 5%;
  margin-top: 7%;
}

.column--header h2, .column--text h2 {
  font-family: 'Oswald Light';
  color: $siteLightBlue;
  margin: 0;
  line-height: 1.35em
}

.interview {
  margin-bottom: 7%;
}

.interview h2 {
  font-family: 'Oswald Light';
  color: $siteLightBlue;
}

.interview p span {
  font-family: 'Oswald Regular';
  text-decoration: underline;
  letter-spacing: .1em;
}

.interviews--container {
  padding: 10.5% 5.5%;
}

.events-column .column--text a {
  text-decoration: none;
  color: white;
}

.event:hover {
  opacity: .6;
  cursor: pointer;
}

.event-container a:hover {
  text-decoration: none;
}

.event-container:hover {
  opacity: .6;
}

.column p {
  margin: 5% 0;
}

.column p span {
  font-weight: bold;
}

.darken {
  background: #000000;
  height: 100%;
  opacity: 0.7;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: none;
}

.column--text .book {
  padding: 0;
}

.column--text span em, .column--header h2 em {
  font-weight: bold;
}

.column--header {
  background: $siteDarkestBlue;
}

.watch-me-go--left, .show-up-look-good--left {
  width: 30%;
  max-width: 300px;
  padding-top: 5em;
  float: left;
  @include transform-translate(20%, 0);
}

.watch-me-go--right, .show-up-look-good--right {
  width: 39%;
  float: left;
  margin-left: 10%;
  padding-top: 5em;
}

.watch-me-go--right p, .show-up-look-good--right p {
  font-family: 'Quattrocento Sans';
  color: white;
  font-size: calc(18rem/16);
}

.watch-me-go--right h2, .show-up-look-good--right h2 {
  color: #dcffff;
  font-size: calc(46rem/16);
  font-family: 'Oswald Light';
  margin-bottom: 0.25em;
}

.book {
  width: 100%;
  cursor: pointer;
}

.book-order {
  background: white;
  color: #415056;
  font-family: 'Oswald Regular';
  font-size: calc(30rem/16);
  text-align: center;
  padding: 7% 0px;
  margin-top: .75em;
  cursor: pointer;
}

.diagonal {
  height: 0;
  padding-bottom: 5%;
  margin-top: -3%;
  z-index: 10;
  position: relative;
  background: white;
  width: 120%;
  margin-left: -5%;
  padding-left: 7%;
  padding-top: 1%;
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
}

.no-flexbox {
	.past-events-container {
		@include clearfix();
	}
  
  .events-column-third {
    width: calc(100%/3 - 2.5em);
    float: left;
  }
}