@media only screen and (max-width: $smallTabletBreakpoint) {
  .body--header {
    padding: 4.5% 0 33.5% 0;
  }
  
  .header--title {
    width: 100%;
    font-size: calc(66rem/16);
    text-align: center;
  }
  
  .header--novel, .header--social {
    display: none;
  }
  
  nav li {
    list-style: none;
    text-align: center;
    font-size: calc(44rem/16);
    font-family: 'Oswald Bold';
    letter-spacing: .05em;
    border-bottom: .5em solid $siteDarkBlue;
    background: white;
  }
  
  nav {
    background: $siteDarkBlue;
  }
  
  .mobile-hidden {
    display: none;
  }
  
  nav li span {
    display: none;
  }
  
  li {
    margin: 0;
  }
  
  ul {
    padding: 0;
    margin-left: 0;
  }
  
  nav {
    padding-bottom: 85%;
  }
  
  .column {
    width: 100%;
  }
  
  .home--footer {
    padding-bottom: 10%;
    background: $siteDarkestBlue;
  }
  
  nav li a {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .mobile-nav {
    display: none;
    border-top: 1.25em solid $siteDarkBlue;
  }
  
  #mobile-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 16.5%;
  }
  
  #mobile-menu {
    position: relative;
    background: $siteDarkestBlue;
    padding-bottom: 10%;
    text-align: center;
    font-size: calc(44rem/16);
    font-family: 'Oswald Bold';
    letter-spacing: .05em;
    padding-top: 7%;
  }
}

@media only screen and (min-width: $smallTabletBreakpoint) {
  .mobile-nav {
    display: block;
  }
  
  #mobile-menu {
    display: none;
  }
  
  .column {
    width: 50%;
  }
  
  .body--header {
    padding: 4.5% 11.5% 33.5% 4.5%;
  }
  
  .header--title {
    width: 86%;
    font-size: calc(58rem/16);
  }
  
  .header--social {
    display: inline-block;
  }
  
  nav {
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
  }
  
  nav li {
    display: inline-block;
    font-size: calc(25rem/16);
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: .1em;
  }
  
  nav {
    padding-bottom: 5%;
    margin-top: -3%;
    width: 120%;
    margin-left: -5%;
    padding-left: 7%;
    padding-top: 1%;
    background: white;
  }
}

.body--header {
  background: image-url("watch-me-go-header.jpg");
  background-size: 101%;
  background-position: center top;
  @include clearfix();
  height: 0;
}

.header--title {
  vertical-align: middle;
  display: inline-block;
  font-family: 'Oswald Bold';
  color: #dcffff;
  margin: 0;
}

.header--social {
  width: 13.5%;
  vertical-align: middle;
}

.header--social ul {
	@include flexbox();
	@include flexbox-justify-content(space-between);
	@include flexbox-align-items(flex-start);
	@include flexbox-flex-wrap(wrap);
  margin: 0;
  padding: 0;
}

.header--social li {
  display: inline-block;
  width: calc(100%/3 - .5em);
}

.header--top {
  margin-bottom: 23%;
}

.header--novel {
  float: right;
  @include transform-rotate(-3)
}

.header--novel a, .header--novel a em {
  font-family: 'Oswald Light';
  color: white;
  font-size: calc(23rem/16);
  text-decoration: none;
}

nav {
  height: 0;
  z-index: 10;
  position: relative;
}

nav li {
  word-spacing: .35em;
  cursor: default;
}

nav li a, nav li a:visited {
  color: $siteDarkBlue;
  font-weight: normal;
  cursor: pointer;
}

.current {
  font-weight: bold;
}

nav ul {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

nav li span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 0 .5em 0 .8em;
  color: $siteDarkBlue;
}

nav li a:hover {
  color: $siteRed;
  text-decoration: none;
}

.header {
  width: 100%;
  max-width: 1000px;
}