<main class="body--main">
    <section class="home--top">
        <div class="column">
            <header class="column--header">
                <h2>praise for <em>WATCH ME GO</em></h2>
            </header>
            <section class="column--text">
                <p>"Pure, muscular storytelling … irresistible."<br/>
                <span>—Salman Rushdie, #1 <em>New York Times</em>–bestselling author</span></p>
                <p>“Mark Wisniewski is a damn good writer.”<br/>
                <span>—Ben Fountain, <em>New York Times</em>–bestselling author of Billy Lynn’s Long Halftime Walk</span></p>
                <p>“Mark Wisniewski's voice is down-to-earth and sharp, delivering swift, salty pages concerning murder and jails, justice and damaged souls.”<br/>
                <span>—Daniel Woodrell, PEN award winner and Edgar-nominated author of <em>Winter’s Bone</em></span></p>
                <p>“Outstanding…Wisniewski deftly alternates perspectives and narrative threads… just what fans of literate and nuanced daylight noir will relish.”<br/>
                <span>—*<em>Publishers Weekly</em>, starred review</span></p>
                <a href="/books">MORE PRAISE FOR <strong><em>WATCH ME GO</em></strong></a>
            </section>
        </div>
        <div class="column">
            <div class="book">
                <a href="http://www.penguin.com/book/watch-me-go-by-mark-wisniewski/9780399172120" target="_blank">
                <%= image_tag("watch-me-go-book.jpg", :alt => "Watch Me Go") %>
              </a>
                <a href="http://www.penguin.com/book/watch-me-go-by-mark-wisniewski/9780399172120" target="_blank">
                  <div class="book-order">
                      order now
                  </div>
                </a>
            </div>
        </div>
    </section>
</main>

<div class="diagonal">
</div>

<main class="body--main">
    <section class="home--bottom">
        <div class="column">
            <header class="column--header">
                <h2>latest work</em></h2>
            </header>
            <section class="column--text--wide">
                <p><em>Watch Me Go</em> is the candid and insightful storytelling of two love stories turned tragic by the hatreds behind racism, sexism, and economic injustice. Two narrators, black and white, male and female, risk their lives by admitting how their pursuits of the American Dream quickly fated their futures to betrayal, double-dealing, and proximity to horrific death. But as they admit their mistakes, they sense their two stories have always been one — and that, by speaking up and listening, they've woven a new, realistic, and far stronger hope.</p>
                <a href="/books">SEE MORE ON <em>WATCH ME GO</em></a>
            </section>
        </div>
    </section>
</main>

<nav>
</nav>