<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- METADATA -->
    <title>Mark Wisniewski | Books</title>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Project Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- SOCIAL METADATA -->
    <meta property="og:locale" content="en_US"/>
    <meta property='fb:admins' content='1499820013'/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Mark Wisniewski"/>
    <meta property="og:description" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman."/>
    <meta property="og:url" content="http://www.markwisniewski.net"/>
    <!-- <meta property="og:image" content="http://www.markwisniewski.net"/> -->
    <meta property='og:site_name' content="Mark Wisniewski"/>
    <meta name="twitter:card" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman.">
    <meta name="twitter:creator" content="@MWwriter">
    <meta name="twitter:title" content="Mark Wisniewski">
    <meta name="twitter:description" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman.">
    <!-- <meta name="twitter:image" content="http://www.markwisniewski.net"> -->

    <!-- ICONS -->
    <!-- <link href="img/favicon.ico" rel="shortcut icon">
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon.png"         rel="apple-touch-icon" />
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-76x76.png"   rel="apple-touch-icon" sizes="76x76" />
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" /> -->

    <!-- STYLESHEETS-->
    <link rel="stylesheet" type="text/css" media="all" href="css/styles.css" />

    <!-- SCRIPTS -->
    <script src="js/modernizr.min.js" type="text/javascript"></script>

    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    
</head>
<body id="skrollr-body">
<div class="wrapper">
    <section class="header">
        <header class="body--header">
            <section class="header--top">
                <a href="index.html">
                    <h1 class="header--title">
                        MARK WISNIEWSKI
                    </h1>
                </a>
                <section class="header--social">
                    <ul>
                      <li><a target="_blank" href="https://www.facebook.com/mark.wisniewski.7"><img src="img/facebook.png" alt="Facebook"/></li>
                      <li><a target="_blank" href="https://twitter.com/MWwriter"><img src="img/twitter.png" alt="Twitter"/></li>
                      <li><a target="_blank" href="http://www.markwisniewski.blogspot.com/"><img src="img/blogger.png" alt="Blog"/></a></li>
                    </ul>
                </section>
            </section>
            <section class="header--novel">
                <a href="http://www.penguin.com/book/watch-me-go-by-mark-wisniewski/9780399172120" target="_blank">breakout novel, WATCH ME GO, due out January 22, 2015</a>
            </section>
        </header>
    
        <nav>
            <ul>
                <li><a href="index.html">HOME</a><span>|</span></li>
                <li><a class="current" href="books.html">BOOKS</a><span>|</span></li>
                <li><a href="events.html">EVENTS</a><span>|</span></li>
                <li><a href="bio.html">BIO</a><span>|</span></li>
                <li><a href="contact.html">CONTACT</a><span>|</span></li>
                <li><a href="interviews.html">INTERVIEWS</a></li>
            </ul>
        </nav>
    </section>

    <main class="body--main">
        <div class="watch-me-go">
            <div class="watch-me-go--left">
              <div class="book">
                  <img src="img/watch-me-go-book.jpg" alt="Watch Me Go"/>
                  <div class="book-order">
                      ORDER YOUR COPY
                  </div>
              </div>
            </div>
            <div class="watch-me-go--right">
                  <p>Douglas “Deesh” Sharp has managed to stay out of trouble living in the Bronx, paying his rent by hauling junk for cash. But on the morning Deesh and two pals head upstate to dispose of a sealed oil drum whose contents smell and weigh enough to contain a human corpse, he becomes mixed up in a serious crime. When his plans for escape spiral terribly out of control, Deesh quickly finds himself a victim of betrayal—and the prime suspect in the murders of three white men.</p>
                  <p>When Jan, a young jockey from the gritty underworld of the Finger Lakes racetrack breaks her silence about gambling and organized crime, Deesh learns how the story of her past might, against all odds, free him from a life behind bars.</p>
                  <p>Interweaving Deesh’s and Jan’s gripping narratives, WATCH ME GO is a wonderfully insightful work that examines how we love, leave, lose, redeem, and strive for justice. At once compulsively readable, thought-provoking, and complex, it is a suspenseful, compassionate meditation on the power of love and the injustices of hate.</p>
                  <h2>PRAISE</h2>
                  <p>"Pure, muscular storytelling … irresistible."</p> 
                  <p><em>—Salman Rushdie, #1 New York Times–bestselling author</em></p>
                  <p>“Mark Wisniewski is a damn good writer.”</p>
                  <p><em>—Ben Fountain, New York Times–bestselling author of Billy Lynn’s Long Halftime Walk</em></p>
                  <p>“With WATCH ME GO, Mark Wisniewski has constructed a fabulous noir that touches on the third-rail of American life and the inside rail at the track. His voice is down-to-earth and sharp, delivering swift, salty pages concerning murder and jails, justice and damaged souls.”</p>
                  <p><em>—Daniel Woodrell, PEN award winner and Edgar nominated author of Winter’s Bone</em></p>
                  <p>“Outstanding…Wisniewski deftly alternates perspectives and narrative threads… just what fans of literate and nuanced daylight noir will relish.”</p>
                  <p><em>—Publishers Weekly, starred review</em></p>
                  <p>“A smart, richly observed noir thriller, located somewhere on the border between Richard Price and Daniel Woodrell. It’s full of double-crosses and secrets, yes, but Watch Me Go is also thoughtful, complex and compassionate in its depiction of these visceral characters and their circumstances.”</p>
                  <p><em>—National Book Award Finalist Dan Chaon, author of Await Your Reply</em></p>
                  <p>"...wonderfully raw and gritty..."</p>
                  <p><em>—Booklist</em></p>
                  <p>“A gritty tale of mystery and desire, it breaks from the gate with power and grace and never falters. This book has legs.”</p>
                  <p><em>—Pulitzer Prize Finalist Lee Martin, author of The Bright Forever</em></p>
                  <p>“Watch Me Go is urgent, wrenching, and—as the two entwined narratives pick up speed and consequence—riveting. The momentum carries us through to revelations about family and redemption . . . A deft and sure novel.”</p>
                  <p><em>—Rebecca Makkai, author of The Hundred-Year House and The Borrower</em></p>
                  <p>"A deeply-felt story of the way two people, a young Black man and a White woman, are damned equally by the choices they make as well as the circumstances forced upon them. The novel unfolds with the pace of a thriller, leading us through the world of gambling, horse-racing, and prisons both real and imagined, all told in voices that ring true from start to finish.”</p>
                  <p><em>—Ru Freeman, author of A Disobedient Girl and On Sal Mal Lane</em></p>
                  <p>"Mark Wisniewski's gift for inhabiting his characters, body and soul, is more than impressive—it smacks of the dark arts, and Watch Me Go is scary good.  Seductively plotted, crazily well-written, and wholly gripping, this book at once gallops headlong and stops you in your tracks with a truths-per-page quotient that is off the charts—laser-fine insights into how we love, leave, gamble, lose, redeem, and strive once more for love.  Get a good grip on the reins, reader: Watch Me Go is one hell of a ride."</p>
                  <p><em>—Tim Johnston, author of Descent and Irish Girl</em></p>
                  <p>"Watch Me Go is a nuanced, suspenseful work of a prodigious and stunning imagination. Mark Wisniewski has created a literary novel of suspense that displays on every page the author's bracing intelligence and humanity."</p>
                  <p><em>—Christine Sneed, author of Little Known Facts and Portraits of a Few of the People I've Made Cry</em></p>
                  <p>"Watch Me Go’s timeless weaving of narratives about love, luck, and loss is wonderfully suspenseful and insightful. Wisniewski has crafted a soulful thriller that kept me guessing until the final page."</p>
                  <p><em>—Alethea Black, author of I Knew You’d Be Lovely</em></p>
            </div>
        </div>
    </main>
    
    <div class="diagonal">
    </div>
    
    <main class="body--main--show">
        <div class="show-up-look-good">
            <div class="show-up-look-good--left">
              <div class="book">
                  <img src="img/show-up-look-good-book.jpg" alt="Show Up, Look Good"/>
                  <div class="book-order">
                      ORDER YOUR COPY
                  </div>
              </div>
            </div>
            <div class="show-up-look-good--right">
                  <p>With equal parts rue and satire, Mark Wisniewski’s thirty-four-year-old Midwestern heroine, Michelle, flees love gone wrong at home to start over with nerve and independence in Manhattan. Her picaresque misadventures and her encounters with characters odd, pretentious, and menacing prove as haunting as Holden Caulfield’s.</p>
                  <h2>PRAISE</h2>
                  <p>“A rollicking, laugh-out-loud romp of a novel.”</p> 
                  <p><em>—Ben Fountain</em></p>
                  <p>“A riotously original voice.”</p>
                  <p><em>—Jonathan Lethem</em></p>
                  <p>“Wit and insight.”</p>
                  <p><em>—Molly Giles</em></p>
                  <p>“Funny, dark, poignant, and unsettling.”</p>
                  <p><em>—Kelly Cherry</em></p>
                  <p>“Wisniewski's storytelling is absolutely kick-ass.”</p>
                  <p><em>— Katherine Center</em></p>
            </div>
        </div>
    </main>
    
    <nav>
    </nav>

    <footer class="body--footer">
        
    </footer>
</div>
<script src="js/app.js" type="text/javascript"></script>
<!--<script src="js/picturefill.js" type="text/javascript"></script>-->
<script src="js/skrollr.min.js" type="text/javascript"></script>
<!-- google analytics -->
<!-- end google analytics -->
<script type="text/javascript">
    if(Modernizr.mq('(min-width: 584px)')) {
        skrollr.init({
        		forceHeight: false
        });
    }
</script>
</body>
</html>