<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- METADATA -->
    <title>Mark Wisniewski | Events</title>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Project Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- SOCIAL METADATA -->
    <meta property="og:locale" content="en_US"/>
    <meta property='fb:admins' content='1499820013'/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Mark Wisniewski"/>
    <meta property="og:description" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman."/>
    <meta property="og:url" content="http://www.markwisniewski.net"/>
    <!-- <meta property="og:image" content="http://www.markwisniewski.net"/> -->
    <meta property='og:site_name' content="Mark Wisniewski"/>
    <meta name="twitter:card" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman.">
    <meta name="twitter:creator" content="@MWwriter">
    <meta name="twitter:title" content="Mark Wisniewski">
    <meta name="twitter:description" content="Mark Wisniewski's new novel, WATCH ME GO (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman.">
    <!-- <meta name="twitter:image" content="http://www.markwisniewski.net"> -->

    <!-- ICONS -->
    <!-- <link href="img/favicon.ico" rel="shortcut icon">
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon.png"         rel="apple-touch-icon" />
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-76x76.png"   rel="apple-touch-icon" sizes="76x76" />
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="http://travel.marriott.com/infographic/url/img/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" /> -->

    <!-- STYLESHEETS-->
    <link rel="stylesheet" type="text/css" media="all" href="css/styles.css" />

    <!-- SCRIPTS -->
    <script src="js/modernizr.min.js" type="text/javascript"></script>

    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    
</head>
<body id="skrollr-body">
<div class="wrapper">
    <section class="header">
        <header class="body--header" data-0="padding-bottom:33.5%;" data-300="padding-bottom:13.5%;" >
            <section class="header--top">
                <a href="index.html">
                    <h1 class="header--title">
                        MARK WISNIEWSKI
                    </h1>
                </a>
                <section class="header--social">
                    <ul>
                      <li><a href="https://www.facebook.com/mark.wisniewski.7"><img src="img/facebook.png" alt="Facebook"/></li>
                      <li><a href="https://twitter.com/MWwriter"><img src="img/twitter.png" alt="Twitter"/></li>
                      <li><a href="http://www.markwisniewski.blogspot.com/"><img src="img/blogger.png" alt="Blog"/></a></li>
                    </ul>
                </section>
            </section>
            <section class="header--novel" data-0="opacity: 1; display: block" data-40="opacity: 0; display: none">
                <a href="http://www.penguin.com/book/watch-me-go-by-mark-wisniewski/9780399172120" target="_blank">breakout novel, WATCH ME GO, due out January 22, 2015</a>
            </section>
        </header>
    
        <nav data-0="transform: rotate(-3deg);" data-300="transform: rotate(0deg)">
            <ul>
                <li><a href="index.html">HOME</a><span>|</span></li>
                <li><a href="books.html">BOOKS</a><span>|</span></li>
                <li><a href="events.html" class="current">EVENTS</a><span>|</span></li>
                <li><a href="bio.html">BIO</a><span>|</span></li>
                <li><a href="contact.html">CONTACT</a><span>|</span></li>
                <li><a href="interviews.html">INTERVIEWS</a></li>
            </ul>
        </nav>
    </section>

    <main class="body--main">
        
    </main>

    <footer class="body--footer">
        
    </footer>
</div>
<script src="js/app.js" type="text/javascript"></script>
<!--<script src="js/picturefill.js" type="text/javascript"></script>-->
<script src="js/skrollr.min.js" type="text/javascript"></script>
<!-- google analytics -->
<!-- end google analytics -->
<script type="text/javascript">
    if(Modernizr.mq('(min-width: 584px)')) {
        skrollr.init({
        		forceHeight: false
        });
    }
</script>
</body>
</html>