<main class="body--main">
    <div class="bio--text">
        <%= image_tag("mark-wisniewski.jpg", :alt => "Mark Wisniewski") %>
        <p>Mark Wisniewski's new novel, <em>Watch Me Go</em> (Jan 22, 2015, G.P. Putnam's Sons), has been praised by Salman Rushdie, Daniel Woodrell, Ben Fountain, Rebecca Makkai, Dan Chaon, Christine Sneed, Anne Serling, and Ru Freeman.</p>
        <p>His second novel, <em>Show Up, Look Good</em>, was praised by Jonathan Lethem, Molly Giles, Kelly Cherry, DeWitt Henry, T.R. Hummer, Richard Burgin, and Diana Spechler.</p>
        <p>Wisniewski is also the author of the novel <em>Confessions of a Polish Used Car Salesman</em>, the collection of short stories <em>All Weekend with the Lights On</em>, and the book of narrative poems <em>One of Us One Night</em>.</p>
        <p>His short fiction has appeared in magazines such as <em>The Southern Review</em>, <em>Antioch Review</em>, <em>New England Review</em>, <em>Virginia Quarterly Review</em>, <em>The Yale Review</em>, <em>Boulevard</em>, <em>The Sun</em>, and <em>The Georgia Review</em>, and has been anthologized as a prize winner in <em>Pushcart Prize</em> and <em>Best American Short Stories</em>.</p>
        <p>His narrative poems have appeared in such venues as <em>Poetry</em>, <em>The Iowa Review</em>, <em>Ecotone</em>, <em>Prairie Schooner</em>, <em>New York Quarterly</em>, <em>Post Road</em>, and <em>Poetry International</em>.</p>
        <p>He’s been awarded two University of California Regents’ Fellowships in Fiction, an Isherwood Fellowship in Fiction, and first place in competitions for the Kay Cattarula Award for Best Short Story, the Gival Press Short Story Award, and the Tobias Wolff Award.</p>
        <p>He lives with his wife in New York City.</p>
    </div>
</main>

<div class="diagonal">
</div>